.h1 {
    text-align: center;
}

img {
    float: right;
    width: 25%;
}

.card {
    margin-bottom: 2%;
}

.text{
    font-size: larger;
}

#kep{
    float: right ;
    border-radius: 15px;

}

#kep_jobb{
    float: right;
}

.tartalom{
    margin-left: 50px;
    margin-right: 50px;
}