#navbarbutton {
    background-color: #656565;
}
.kepek {
    width: 400px;
    height: 350px;
    max-width: 400px;
    max-height: 350px;
}
.padder {
    padding-top: 15px;
}
.card {
    width: 25rem;
}
.centerer {
    text-align: center;
}