#navbarbutton {
    background-color: #656565;
}
.navbar-brand {
    text-align: center;
}

.h1{
    text-align: center;
}
#fooldalkep{
    float: right;
    max-height: 120%;
    margin-left: 10px;
    max-width: 120%;
    height: auto;
    border-radius: 15px;

}
#faanyag{
    left: 40px;
    border-radius: 30px;
}
#kepek{
    border-radius: 30px;
    height: 200px;
}

#h1{
    font-weight: 600px;
}

.tartalom_index{
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
}

.h2{
    font-weight: 500px;
}

.card-body{
    background: #D9D9D9;
    border-radius: 20px;
}

@media only screen and (min-width: 768px) {
    .szoveg{
        margin-right: 250px;
    }
}